CORES {
color: #7566D9;
color: #6C63FF;
color: #22577A;
color: #57CC99;
color: #22577A;
color: #38a3a5;
}

html,
body {
    /* height: 100%;
    margin: 0; */
    font-family: Poppins;
    /* background-color: white; */
    body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
}




h1 {
text-align: center;
margin-inline: auto;


}



p {
    text-align: center;
    font-size: x-large;
}



.titulo{
font-size: 40px;
}

.menu
{
/* max-width: 1080px; */
 /* margin-right: 100px; */
display: flex;
 gap:  80px;
 text-align: center;
 justify-content: center;
 margin-top: 150px;
}

.menu-button {
    transform: scale(1.4);

    
    
}   
.menu-button:hover {
    transform: scale(1.6);
}
/* .main {
    flex: 1;
    margin-inline: 100px;
 
     aumenta o conteudo para preencher espaco
} */

.container {
    display: flex;
    flex-direction: column;
    /* faz funcionar em vertical o flex*/
    min-height: 100vh;
    /* altura igual o tamanho visivel da tela*/
    

}


.esqueceuSenha {
    text-decoration: none;
    color: #7566D9;
    padding: 0;   
    background-color: transparent;
    font-size: small;
    margin-left: 55px;
    
}

.esqueceuSenha:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #7566D9;
}

.sair {
    /* float: right; */
    background-color: lightcoral;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
}

.sair:hover {
    background-color: #d9534f;
    transform: scale(1.05);
}



header {
    background-color: #38a3a5;
    color: white;
    text-align: center;
    justify-content: center;
}
header img {
    width: 100px;
    margin-bottom: -45px;
}

/* footer { */
    /* background-color: #38a3a5; */
    /* color: white; */
    /* text-align: center;
    justify-content: center;
    align-content: center; */
    /* height: 8vw; */
/* } */

.btnVoltar {
    position: absolute;
    margin-top: 1%;
}



button {
    transition: all 0.2s ease-in-out;
    background-color: #38A3A5;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #22577A;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

button a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

button a:hover {
    background-color: transparent;
    transform: none;
}

button:hover {
    transform: scale(1.05);
    background-color: #57CC99;
    color: #fff;
}

.btnSubmit {
    transition: all 0.2s ease-in-out;
    background-color: #38a3a5;
    padding: 1vw;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2vw;
    border-radius: 10px;
    border: 3px solid #57CC99;
}

.btnSubmit:hover {
    transform: scaleX(1.05);
    background-color: #57CC99;
    color: #fff;
}



table{
border-collapse: collapse; /*serve para juntar a borda da tabela, tira o efeito "3d"*/
border: 2px solid #22577A;
border-radius: 6px;
width: 100%;
margin-top: 20px;
}

thead {
    background-color: #6C63FF;
}

thead th {
    color: #fff;
    padding: 15px 10px;
    text-align: left;
}

tbody {
    background-color: #F7F9FA;
    
}
.linha {
background-color: #fdfdfd;

}
/* seleciona todas as linhas pares de uma tabela ou todos os elementos pares de um grupo de irmãos no HTML, aplicando estilos a eles */
.linha:nth-child(even) {
    background-color: #f2f2f2;
}

.linha:hover {
    background-color: #e8e8e8;
}

th, td { 
    padding: 12px 10px;
    text-align: left;
 
}
td{
color: #22577A;
}


.acoes {
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    background-color: #FF6B6B;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}
.acoes:hover {
    /* background-color: #57CC99; */
    text-decoration: underline;
    transform: scale(1.05);
}






form {
    background-color: #E6E0F8;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 30px;
    /* text-indent: 12px; */
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
    margin-bottom: 20px;
    font-size: 20px;
    color: #0D0D0D;
    margin-inline: auto;
}

input {
    font-size: 20px;
    border-radius: 6px;
    padding: 8px;
    border: 2px solid #96A0D9;
}
input:focus /*quando clica sobre um campo do formulario*/{ 
  border: 2px solid #7566D9; 
  outline: none;             
  box-shadow: 0 0 5px rgba(117, 102, 217, 0.5); /* efeito de brilho */
}

.card-conteudo {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.card {
    width: 40%;
    padding: 20px;
    
    float: left;
}